#canvas {
  position: absolute;
  top: 10%;
  left: 20px;
  border: solid black 1px;
  width: 400px;
  height: 400px;
}

#canvas-3d {
  position: absolute;
  top: 10%;
  left: 430px;
  border: solid black 1px;
  width: 400px;
  height: 400px;
}

#debugger {
  position: absolute;
  z-index: 1000;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  shape-outside: circle();
  clip-path: circle();
  background: red;
}

#svg {
  overflow: visible;
  display: block;
  margin: -10px;
}
#shape-3d {
  position: absolute;

  overflow: visible;
  display: block;
  margin: -10px;
}

#shape {
  position: absolute;

  overflow: visible;
  display: block;
  margin: -10px;
}
