body {
  background: #222;
  font-family: "Courier New";
}

/* .content-wrapper {
} */

#canvas {
  position: absolute;

  top: 30px;
  left: 20px;
  border: solid #777 1px;
  width: 400px;
  height: 400px;
}

#canvas-3d {
  position: absolute;

  top: 30px;
  left: 430px;
  border: solid #777 1px;
  width: 400px;
  height: 400px;
}

/* .slide-container {
  width: 100%;
  position: absolute;
  margin-top: 450px;
} */

.slider {
  width: 800px; /* Full-width */
  height: 25px; /* Specified height */

  accent-color: magenta;

  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */

  transition: opacity 0.2s;
}

.slider-micro {
  accent-color: cyan;

  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */

  transition: opacity 0.2s;
}

#debugger {
  position: absolute;
  z-index: 1000;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  shape-outside: circle();
  clip-path: circle();
  background: red;
}

.svg {
  overflow: visible;
  display: block;

  /* margin: 200px; */
}

.svg-2 {
  overflow: visible;
  display: block;

  margin-top: 200px;
}
#shape-3d {
  position: absolute;

  overflow: visible;
  display: block;

  /* margin: -10px; */
}
#shape-3d-top {
  position: absolute;

  overflow: visible;
  display: block;

  margin: -10px;
}

#group2 {
  position: absolute;
  overflow: visible;
  display: block;
  margin: -10px;
}

#shape {
  position: absolute;

  overflow: visible;
  display: block;
  margin: -10px;
}
.centered {
  position: absolute;

  overflow: visible;
  display: block;
  margin-left: 200px;
}

.textInputs {
  position: absolute;
  color: #ccc;
  margin-top: 450px;
  margin-left: 10px;
  text-align: left;
}

.textfield {
  background: #555; /* Grey background */
  color: #ccc;
  margin-left: 10px;
  width: 60px;
}

.instructions {
  margin-top: 700px;
  margin-left: 10px;
  color: #555;
}
